<div id="usgs-water">
	<div class="datetime">
		October 19th, 2014
	</div>
	<h4>
		USGS Instantaneous Water Values Data Visualization with Node.js, MongoDB,
		Map Reduce, D3.js and Leaflet.js
	</h4>
	<a href="http://adriansonnenschein.com/watermap/" target="_blank">
		<span class="glyphicon glyphicon-tint"></span>
		<b>Take me to the app!</b>
	</a>
	<br>
	<a href="https://github.com/asonnenschein/usgs-water" target="_blank">
		<span class="glyphicon glyphicon-file"></span>
		<b>Show me the source code!</b>
	</a>
</div>