body {
  background-color: #ffffff;
  color: #000000;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.ttf');
}

.container {
  max-width: 768px;
}

.header-nav li a {
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 0px;
}

.header-nav .nav li a:hover {
  background-color: transparent;
  color: black;
}

.footer-nav {
  margin-top: 20px;
}

.footer-nav .pull-right {
  font-size: 12px;
  opacity: 0.7;
}

.footer-nav .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-nav .footer-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 30px;
}

.content-header h1 {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 40%;
  float: left;
}

.datetime {
  padding-top: 5px;
  font-style: italic;
  opacity: 0.5;
  font-size: 12px;
}

.thought {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 25px;
}

.hobby {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 25px;
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#work .experience {
  margin-top: 25px;
}

#work small {
  padding-left: 10px;
}

#work h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#work .partners {
  color: gray;
  font-size: 12px;
}

#about .bio {
  margin-top: 25px;
}

#about img {
  margin-top: 10px;
}

/*****************************/
/* JS Style Leaflet With CSS */
/*****************************/

#leaflet-style-vectors-css {
  height: 200px;
}

@font-face {
  font-family: 'bootstrap-glyphicons';
  src: url(glyphicons-halflings-regular.ttf);
}

.house-icon:after {
  font-family: 'bootstrap-glyphicons';
  content: '\e021';
  font-size: 20px;
  color: black;
}

.camera-icon:after {
  font-family: 'bootstrap-glyphicons';
  content: '\e046';
  font-size: 20px;
  color: black;
}

.marker-icon:after {
  font-family: 'bootstrap-glyphicons';
  content: '\e062';
  font-size: 20px;
  color: black;
}