{% extends "index.html" %}

{% block content_header %}
  <div class="content-header">
    <h1>About</h1>
  </div>
{% endblock %}

{% block content %}
      <div class="bio divider">
        <img src="images/capecod.jpg" class="img-responsive">
        <br>
        <p>
          Adrian Sonnenschein is a computer programmer based out of Tucson,
        Arizona.
        </p>
        <p>
          When he's not at a computer he's probably playing a guitar, cooking
          delicious food, riding a bicycle or getting lost in the mountains with
          his dog Huckleberry Finn.
        </p>
        <p>
          Contact him at <a href="mailto:adrian.sonnenschein@gmail.com">
          adrian.sonnenschein@gmail.com</a> if you'd like to pay him
          to do some work or convince him to contribute to your free and open
          source software (FOSS) project.
        </p>
      </div>
    </div>
  </div>
{% endblock %}