<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/toronto-gothic-kit.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    <title>Adrian Sonnenschein</title>
  </head>
  <body>
    <div id="holder">
      <header>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#adrian-likes-computers-navbar" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              {% block content_header %}
              {% endblock %}
            </div>
            <div class="navbar-collapse collapse" id="adrian-likes-computers-navbar" aria-expanded="false">
              <ul class="nav navbar-nav navbar-right header-nav">
                <li><a href="/thoughts">Thoughts</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="https://github.com/asonnenschein">Code</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="content">
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </body>
    <footer class="footer-nav">
      <div class="container">
        <div class="footer-divider">
          <div class="pull-right">
            <a href="https://github.com/asonnenschein/adrian-likes-computers" target="_blank">
              This website
            </a>
             was built from scratch with
            <a href="http://expressjs.com/" target="_blank">expressjs</a>,
            <a href="https://mozilla.github.io/nunjucks/" target="_blank">nunjucks</a> and
            <a href="http://getbootstrap.com/" target="_blank">twitter bootstrap</a>
          </div>
        </div>
      </div>
      <script src="/static/assets/jquery.min.js"></script>
      <script src="/static/assets/bootstrap/dist/css/bootstrap.min.js"></script>
    </footer>
  </div>
</html>