{% extends "index.html" %}

{% block content_header %}
<h1 class="content-header">Thoughts</h1>
{% endblock %}

{% block content %}
<!--
<div class="content-divider">
  <a href="thoughts/parallelized-mapreduce-mongodb-nodejs.html" class="fill-div">
    <span class="datetime">
      November 23, 2014
    </span>
    <h2>Parallelized MapReduce on a Single Collection with MongoDB and Nodejs</h2>
  </a>
</div>
-->
<div class="content-divider">
  <a href="thoughts/deploying-django-fcgi-nginx" class="fill-div">
    <span class="datetime">
      November 8, 2014
    </span>
    <h2>Deploying Django in Production with FastCGI and Nginx</h2>
  </a>
</div>
<div class="content-divider">
  <a href="thoughts/testing-ie-on-mac" class="fill-div">
    <span class="datetime">
      October 15, 2014
    </span>
    <h2>Debugging Internet Explorer on a Mac</h2>
  </a>
</div>
<div class="content-divider">
  <a href="thoughts/js-style-leaflet-icons-with-css" class="fill-div">
    <span class="datetime">
      October 4, 2014
    </span>
    <h2>Style Leaflet.js Icons with Bootstrap CSS</h2>
  </a>
</div>
<div class="content-divider">
  <a href="thoughts/node-js-unix-command-line-tool" class="fill-div">
    <span class="datetime">
      September 21, 2014
    </span>
    <h2>Command-line Interface Utilities with Nodejs</h2>
  </a>
</div>
<div class="content-divider">
  <a href="thoughts/solr-deploy-multicore" class="fill-div">
    <span class="datetime">
      September 18, 2014
    </span>
    <h2>Deploy Multiple SOLR Cores with Tomcat in Ubuntu 12.04</h2>
  </a>
</div>
<div class="content-divider">
  <a href="thoughts/django-migrate-mysql-postgres" class="fill-div">
    <span class="datetime">
      August 25, 2014
    </span>
    <h2>Migrate a MySQL Django Database to PostgreSQL</h2>
  </a>
</div>
<div class="content-divider"></div>
{% endblock %}