{% extends "index.html" %}

{% block content_header %}
<h1 class="content-header toronto-gothic">Thoughts</h1>
{% endblock %}

{% block content %}
  <div class="content-divider">
    <div class="datetime">
      October 4, 2014
    </div>
    <a href="thoughts/js-style-leaflet-icons-with-css.html">
      <h4>Style Leaflet.js Icons with Bootstrap CSS</h4>
    </a>
  </div>
  <div class="content-divider">
    <div class="datetime">
      September 21, 2014
    </div>
    <a href="thoughts/node-js-unix-command-line-tool.html">
      <h4>Command-line Interface Utilities with Nodejs</h4>
    </a>
  </div>
  <div class="content-divider">
    <div class="datetime">
      September 18, 2014
    </div>
    <a href="thoughts/solr-deploy-multicore.html">
      <h4>Deploy Multiple SOLR Cores with Tomcat in Ubuntu 12.04</h4>
    </a>
  </div>
  <div class="content-divider">
    <div class="datetime">
      September 12, 2014
    </div>
    <a href="thoughts/node-js-vanilla-http-server.html">
      <h4>Build an HTTP Server Using Only the Nodejs Core Library</h4>
    </a>
  </div>
  <div class="content-divider">
    <div class="datetime">
      August 25, 2014
    </div>
    <a href="thoughts/django-migrate-mysql-postgres.html">
      <h4>Migrate a MySQL Django Database to PostgreSQL</h4>
    </a>
  </div>
{% endblock %}