{% extends "index.html" %}

{% block content_header %}
<h1 class="content-header">Thoughts</h1>
{% endblock %}

{% block content %}
<div class="content-divider">
  <a href="thoughts/js-style-leaflet-icons-with-css.html" class="fill-div">
    <span class="datetime">
      October 4, 2014
    </span>
    <h2>Style Leaflet.js Icons with Bootstrap CSS</h2>
  </a>
</div>
<div class="content-divider">
  <a href="thoughts/node-js-unix-command-line-tool.html" class="fill-div">
    <span class="datetime">
      September 21, 2014
    </span>
    <h2>Command-line Interface Utilities with Nodejs</h2>
  </a>
</div>
<div class="content-divider">
  <a href="thoughts/solr-deploy-multicore.html" class="fill-div">
    <span class="datetime">
      September 18, 2014
    </span>
    <h2>Deploy Multiple SOLR Cores with Tomcat in Ubuntu 12.04</h2>
  </a>
</div>
<div class="content-divider">
  <a href="thoughts/node-js-vanilla-http-server.html" class="fill-div">
    <span class="datetime">
      September 12, 2014
    </span>
    <h2>Build an HTTP Server Using Only the Nodejs Core Library</h2>
  </a>
</div>
<div class="content-divider">
  <a href="thoughts/django-migrate-mysql-postgres.html" class="fill-div">
    <span class="datetime">
      August 25, 2014
    </span>
    <h2>Migrate a MySQL Django Database to PostgreSQL</h2>
  </a>
</div>
<div class="content-divider"></div>
{% endblock %}