{% extends "index.html" %}

{% block content %}
<div class="content-header">
  <div id="work">
    <h1>Work</h1>
    <div class="experience divider">
      <h3>Experience</h3>
      <h4>Freelance Contractor<small>2014 - Present</small></h4>
      <i>Fullstack Web/Software/GIS Development</i>
      <h4>Project Vote Smart<small>2014 - Present</small></h4>
      <i>Web Developer</i>
      <h4>Arizona Geological Survey<small>2012 - 2015</small></h4>
      <i>Software Developer and GIS Specialist</i>
      <ul>
        <li>
          Fullstack software developer for the National Geothermal Data System;
          a suite of applications for providing, aggregating and creating geothermal
          data.
          <br>
          <div class="partners">
            <b>Partners</b>: U.S. Department of Energy, Sandia National
            Laboratories, Siemens Corporation
          </div>
        </li>
        <li>
          Fullstack software developer for CINERGI; a geoscientific metadata
          database and aggregation platform in the cloud.
          <div class="partners">
            <b>Partners</b>: National Science Foundation, San Diego
            Supercomputer Center
          </div>
        </li>
        <li>
          Frontend developer for the Arizona Natural Hazards Viewer; an
          interactive web application for viewing and learning about geologic
          hazards.
          <div class="partners">
            <b>Partners</b>: Federal Emergency Management Agency, Arizona
            Department of Emergency Management
          </div>
        </li>
        <li>
          Frontend developer for the Arizona Agriculture and Wine map; a mobile
          application for supporting and promoting local agriculture within the
          state of Arizona.
          <div class="partners">
            <b>Partners</b>: Arizona Department of Agriculture
          </div>
        </li>
        <li>
          General maintenance of production and development Linux servers.
        </li>
      </ul>
      <h4>Redding Land Trust<small>2011 - 2012</small></h4>
      <i>Field Cartographer</i>
      <ul>
        <li>
          Collected field GPS and point of interest (POI) data for properties
          protected by the organization and used data to create maps and open
          file reports as part of a federal land trust accreditation process.
        </li>
      </ul>
      <h4>University of Connecticut Maps and Geographic Information Center<small>2011</small></h4>
      <i>Reasearch Assistant</i>
      <ul>
        <li>
          Designed and populated a database for Global Historical Climate
          Network (GHCN) data for the Northeastern region of the United States
          and used the database to produce maps and other visualizations about
          surface temperatures and weather conditions.
        </li>
      </ul>
    </div>
    <div class="proficiencies divider">
      <h3>Expertise</h3>
      <h4>Languages/Platforms</h4>
      <p>
        Python, JavaScript, PHP, R, C, Objective-C, Java, Unix/Linux, iOS, Git,
        Amazon Web Services (EC2, S3, Glacier)
      </p>
      <h4>APIs/Frameworks</h4>
      <p>
        Django, CKAN, Flask, Node.js, MEAN, expressjs, angular.js, backbone.js,
        D3.js, Twitter Bootstrap, Foundation, Leaflet, OpenLayers, GDAL, OGR
      </p>
      <h4>Software</h4>
      <p>
        PostgreSQL, MySQL, MongoDB, CouchDB, Geoserver, Tomcat, Apache, Nginx
      </p>
    </div>
    <div class="education divider">
      <h3>Education</h3>
      <h4>University of Connecticut<small>Storrs, Connecticut 2011</small></h4>
      <p>
        B.A. Physical Geography and Political Science
      </p>
      <h4>University of Arizona<small>Tucson, Arizona 2012</small></h4>
      <p>
        M.S. Geographic Information Systems
        <br>
        <i>Research</i>: Quantitative Analysis of Landslides and Debris Flows
        on the South Slope of the Santa Catalina Mountain Range in Coronado
        National Forest
      </p>
    </div>
  </div>
</div>
{% endblock %}