html, body {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #000000;
}

#holder {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 60px;
}

footer {
  height: 60px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

.container {
  max-width: 750px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'toronto-gothic';
  font-weight: normal;
  font-style: normal;
}

h1.content-header {
  font-size: 45px;
}

h2 {
  font-size: 27px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.experience h2, .proficiencies h2, .education h2 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.experience h3, .proficiencies h3, .education h3 {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.partners {
  font-size: 12px;
  color: gray;
}

small {
  padding-left: 5px;
}

a h2 {
  color: #000;
}

.datetime {
  color: #000;
  font-style: italic;
  opacity: 0.5;
  font-size: 12px;
}

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

a.fill-div:hover {
  background-color: #8effad;
}

.header {
  padding-top: 15px;
  padding-bottom: 10px;
}

.content-header {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.container .navbar-header {
  margin-left: 0px;
}

.navbar {
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-nav {
  margin-top: 24px;
  margin-right: 0;
}

.navbar-collapse {
  border: none;
}

.navbar-collapse.collapsing .navbar-nav {
  margin-top: 10px;
  margin-bottom: 0;
}

.navbar-collapse.collapse.in .navbar-nav {
  margin-top: 10px;
  margin-bottom: 0;
}

.navbar-collapse.collapsing .navbar-nav li a {
  padding-bottom: 5px;
}

.navbar-collapse.collapse.in .navbar-nav li a {
  padding-bottom: 5px;
}

.navbar-collapse.collapsing .navbar-nav li a:hover {
  background-color: #6bb9f0;
}

.navbar-collapse.collapse.in .navbar-nav li a:hover {
  background-color: #6bb9f0;
}

.header-nav li a {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  margin-left: 15px;
}

.navbar-nav li a {
  padding-bottom: 0;
}

.navbar-default .navbar-nav li a {
  background-color: transparent;
  color: #000;
}

.navbar-default .navbar-nav li a:hover {
  background-color: transparent;
  color: #663399;
}

.header-description {
  padding-left: 13px;
  letter-spacing: 0.1px;
}

.footer-nav {
  margin-top: 20px;
}

.footer-nav .pull-right {
  font-size: 12px;
  opacity: 0.7;
}

.footer-nav .container {
  padding-bottom: 10px;
}

.footer-nav .footer-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 30px;
}

.content-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#work .experience {
  margin-top: 25px;
}

#work small {
  padding-left: 10px;
}

#work h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#work .partners {
  color: gray;
  font-size: 12px;
}

.bio img {
  margin-top: 10px;
}

/*****************************/
/* JS Style Leaflet With CSS */
/*****************************/

#leaflet-style-vectors-css {
  height: 200px;
}

@font-face {
  font-family: 'bootstrap-glyphicons';
  src: url(glyphicons-halflings-regular.ttf);
}

.house-icon:after {
  font-family: 'bootstrap-glyphicons';
  content: '\e021';
  font-size: 20px;
  color: black;
}

.camera-icon:after {
  font-family: 'bootstrap-glyphicons';
  content: '\e046';
  font-size: 20px;
  color: black;
}

.marker-icon:after {
  font-family: 'bootstrap-glyphicons';
  content: '\e062';
  font-size: 20px;
  color: black;
}