<div class="thought-20140928">
  <div class="datetime">
    August 25th, 2014
  </div>
  <h4>Migrate a MySQL Django Database to PostgreSQL</h4>
  <p>
    Dump data from your current MySQL database as JSON:
    <pre class="prettyprint">
      <span class="pln">python manage.py dumpdata mysql_data.json</span></pre>
  </p>
  <p>
    Create a new PostgreSQL database if you haven't already, update your 
    project settings.py file and sync the database with Django to create the
    database tables:
    <pre class="prettyprint">
      <span class="pln">python manage.py syncdb</span></pre>
  </p>
  <p>
    Wipe out all data in the new database:
    <pre class="prettyprint">
      <span class="pln">python manage.py sqlflush | psql -U username db</span></pre>
  </p>
  <p>
    Import the JSON we dumped from MySQL into PostgreSQL:
    <pre class="prettyprint">
      <span class="pln">python manage.py loaddata mysql_data.json</span></pre>
  </p>
  <p>
    That's it, have fun!
  </p>
</div>